---
###############################################################################
# TODO: Add the tasks in here for {{ deploy_stage }} deploy stage in
# tripleo_{{ myservice }} role
###############################################################################

