---
###############################################################################
# TODO: Check for incorrectly imported Heat functions e.g. get_param, which is
# formatted as yaml here, and replace with the right var that was passed to
# ansible via RoleParametersValue
###############################################################################
{{ tht.outputs.role_data.value[deploy_stage] | to_nice_yaml(indent=2) | indent(width=0, indentfirst=false) }}
