{%- import 'templates/macros.yml' as macros -%}
heat_template_version: {{ tht.heat_template_version }}

description: >
  {{ tht.description | indent(width=2, indentfirst=false) }}
###############################################################################
# NOTE: Contents of this files are based on
# https://docs.openstack.org/tripleo-docs/latest/developer/tht_walkthrough/service_template_sections.html#ansible-related-parameters
###############################################################################

###############################################################################
# TODO: Check the indentation on each section that's imported from the
# {{ myservice }}-container-puppet.yaml template
# There's a known issue with to_nice_yaml, that doesn't indent list elements
###############################################################################

parameters:
  {{ tht.parameters | to_nice_yaml(width=80, indent=2) | indent(width=2,indentfirst=false) }}

  ##############################################################################
  # The existing collectd parameters will be combined with
  # {{ myservice_titlecase }}Vars in the RoleParametersValue below. Eventually,
  # these legacy parameters will be deprecated in favour of passing the
  # parameters into the {{ myservice_titlecase }}Vars param below.
  # For backwards compatibility these legacy params will be acceptd, but will
  # be overwritten by any element passed to {{ myservice_titlecase }}.
  # New configs should add the vars directly into the
  # {{ myservice_titlecase }}Var parameter, which will not require anymore
  # changes in THT to add new params.
  ##############################################################################
  {{ myservice_titlecase }}Vars:
    default: {}
    description: Hash of {{ myservice }} variables used to configure the {{ myservice }} role.
    tags:
      - role_specific
    type: json

resources:
  #############################################################################
  # TODO: Check that indentation is correct (list items don't indent)
  #############################################################################
  {{ tht.resources | to_nice_yaml(width=80, indent=2) | indent(width=2, indentfirst=false)}}

  RoleParametersValue:
    type: OS::Heat::Value
    properties:
      type: json
      value:
        map_merge:
          #####################################################################
          # The values here will be available in the tripleo_{{ myservice }}
          # (and the {{ myservice }} ansible role.
          #####################################################################
          # TODO: Update names as appropriate, consider using tripleo_* as a
          # prefix for vars that will be used by tripleo_{{ myservice }} role
          # and {{ myservice }}_* for vars that are intended to be passed
          # straight through to the ansible_{{ myservice }} role, so that they
          # can be set and overwritten in the {{ myservice_titlecase }}Vars
          # param that will be used going forward.
          #####################################################################
{% for param in tht.parameters %}
          - {{ macros.snake_case(param) }}: { get_param: {{ param }} }
{% endfor %}
          #####################################################################
          # The last element should be the {{ myservice_titlecase }}Vars, which
          # overides any of the legacy parameters above.
          #####################################################################
          - { get_param: {{ myservice_titlecase }}Vars }

outputs:
  role_data:
    description: {{ tht.outputs.role_data.description }}
    value:
      service_name: {{ myservice }}
      #########################################################################
      # TODO: Check that indentation is correct
      #########################################################################
      # TODO: Check that the output is correct, some heat functional are
      # called here, and they get formatted with the rest of the yaml
      #########################################################################
      kolla_config:
        {{ tht.outputs.role_data.value.kolla_config | to_nice_yaml(width=72, indent=2) | indent(width=8, indentfirst=false) }}
      #########################################################################
      # TODO: Check that indentation is correct
      #########################################################################
      # TODO: Check that the output is correct, some heat functional are
      # called here, and they get formatted with the rest of the yaml
      #########################################################################
      docker_config:
        {{ tht.outputs.role_data.value.docker_config | to_nice_yaml(width=72, indent=2) | indent(width=8, indentfirst=false) }}

{% for deploy_stage in deploy_stages %}
      {{ deploy_stage }}:
        - name: "{{ myservice_titlecase }} {{ deploy_stage }} tasks"
          import_role:
            name: tripleo_{{ myservice }}
          vars:
            - deploy_stage: "{{ deploy_stage }}"
            - {get_attr: [RoleParametersValue, value]}

{% endfor %}
