heat_template_version: rocky

description: Configure {{ myservice }} using ansible

###############################################################################
# NOTE: Contents of this files are based on
# https://docs.openstack.org/tripleo-docs/latest/developer/tht_walkthrough/service_template_sections.html#ansible-related-parameters
###############################################################################

parameters:
  {{ tht.parameters | to_nice_yaml(width=80, indent=2) | indent(width=2,indentfirst=false) }}

  ##############################################################################
  # The existing collectd parameters will be combined with
  # {{ myservice_titlecase }}Vars in the RoleParametersValue below. Eventually,
  # these legacy parameters will be deprecated in favour of passing the
  # parameters into the {{ myservice_titlecase }}Vars param below.
  # For backwards compatibility these legacy params will be acceptd, but will
  # be overwritten by any element passed to {{ myservice_titlecase }}.
  # New configs should add the vars directly into the
  # {{ myservice_titlecase }}Var parameter, which will not require anymore
  # changes in THT to add new params.
  ##############################################################################
  {{ myservice_titlecase }}Vars:
    default: {}
    description: Hash of {{ myservice }} variables used to configure the {{ myservice }} role.
    tags:
      - role_specific
    type: json

resources:
  ContainersCommon:
    type: ../containers-common.yaml

  RoleParametersValue:
    type: OS::Heat::Value
    properties:
      type: json
      value:
        map_merge:
          - tripleo_role_name: {get_param: RoleName}
          #####################################################################
          # The first items in this list should be any existing
          # {{ myservice}}-related parameters, using a new key that will be
          # available in the tripleo_{{myservice }} ansible role.
          #####################################################################
#  TODO(efoley): add a loop here to add in existing params with a snakecase var#
          - legacy_param: { get_param: LegacyParam }
          #####################################################################
          # The last element should be the {{ myservice_titlecase }}Vars, which
          # overides any of the legacy parameters.
          #####################################################################
          - { get_param: {{ myservice_titlecase }}Vars }

outputs:
  role_data:
    description: Role data for the {{ myservice_titlecase }} service
    value:
      service_name: {{ myservice }}
      kolla_config:
      # TODO: add in existing kolla config from tht.outputs.role_data.value.kolla_config
      docker_config:
        #######################################################################
        # TODO: Add in the docker_config section from the original
        # {{ myservice }}-container-puppet.yaml file
        #######################################################################

## TODO(efoley): parse the tht.outputs.role_data.value.*_tasks and make a list of deploy_stages
## Keep this here, but add the existing ansible stuff to the tripleo_{{myservice}} role tasks
{% for deploy_stage in deploy_stages %}
      {{ deploy_stage }}:
        - name: "{{ myservice_titlecase }} {{ deploy_stage }} tasks"
          import_role:
            name: tripleo_{{ myservice }}
          vars:
            - deploy_stage: "{{ deploy_stage }}"
            - {get_attr: [RoleParametersValue, value]}
{% endfor %}
