---
###############################################################################
# TODO: Add the default values in here for any of the converted heat params
# from tripleo-heat-templates. This serves two purposes: it facilitates
# testing, and it allows for removal of THT params in the future without
# affecting the ansible role.
###############################################################################
